---
title: 關於INNOCONCEPT
description: 關於INNOCONCEPT
layout: page
---

<section class="section-item ">
  <div class="wrap pb-5">
    <div class="row">
      <div class="col-m-8">
        <h1 class="title">用心服務 追求卓越 開放自律</h1>
        <p>我們是一個由使命感和價值觀驅動的團隊；我們努力為客戶提供一流的服務，努力超越自己，保持開放且又能自律和勤奮地工作。</p>
      </div>
    </div>
  </div>
  <div class="wrap">
    <div class="col-m-10">
      <div class="mt-5">
        <div class="row around">
          <div class="center px-2 py-4 section-dark">
            <div class="row center px-3 spacing-title">
              <img width="9%" src="/static/images/about-01.svg">
              <p class="ml-2 fs-18">使命</p>
            </div>
            <div class="mt-5 spacing-title">
              <h3>助力商業精耕細做</h3>
            </div>
          </div>

          <div class="center px-2 py-4 section-dark">
            <div class="row center px-3 spacing-title">
              <img width="8%" src="/static/images/about-02.svg">
              <p class="ml-2 fs-18">願景</p>
            </div>
            <div class="mt-5 spacing-title">
              <h3>不拘一格，帶來欣喜改變</h3>
            </div>
          </div>
          <div class="center px-2 py-4 section-dark">
            <div class="row center px-2 spacing-title">
              <img width="7%" src="/static/images/about-03.svg">
              <p class="ml-2 fs-18">價值觀</p>
            </div>
            <div class="mt-5 spacing-title">
              <h3>用心服務、追求卓越、開放自律</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-item">
  <div class="wrap">
    <div class="row between">
      <div class="col-m-6 between">
        <h1 class="subTitle mt-4">遠程辦公</h1>
        <p>我們是一個分佈式團隊，除了南寧/香港/珠海 獨立的辦公室外，也有很多遠程的同事，我們欣賞。</p>
        <div class="mt-5">
          <h1 class="subTitle mt-4">加入我們</h1>
          <p>作為一家專注於服務電商行業的技術創業公司，我們希望尋找優秀的夥伴加入和我們一起高速成長。我們有包括 多個職位在招聘。</p>
        </div>
        <div class="mt-5">
          <p>我們對加入同事的公共要求：</p>
          <ul>
            <li>誠實、正直、踏實
            <li>熱愛互聯網行業，您需要的不僅是一個“工作”，更是“職業”或更多</li>
            <li>充滿鑽研熱情，不滿足於“知其然”，更熱衷於“知其所以然”</li>
            <li>基礎紮實、熱愛學習、樂於擁抱變化</li>
            <li>能勝任遠程工作者</li>
            <li>熟悉linux系統</li>
            </li>
          </ul>
        </div>
        <div class="mt-4">
          <p>歡迎在各個招聘網站上聯繫我們。</p>
          <img width="22%" src="/static/images/about@3-2.png" />
          <img class="ml-3" width="16%" src="/static/images/about@3-3.png" />
        </div>
      </div>
      <div class="col-m-4">
        <img src="/static/images/about@3-1.png" />
      </div>
    </div>
  </div>
</section>