---
title: 資源
description: 資源
layout: page
---

<section class="section-item section-home-banner">
  <div class="wrap">
    <div class="row">
      <div class="col-m-6">
        <h1>我們不斷學習新事物，並與您分享</h1>
      </div>
      <div class="col-m-6">

      </div>
    </div>
  </div>
</section>
<section class="section-item section-home-feat">
  <div class="wrap">
    <h2>為想要打造人們喜愛的產品的企業家提供切實可行的建議。</h2>
    <div class="row">
      <div class="col-m-8">
        <p>感覺被什麼東西卡住了？感覺您不知道如何降低業務風險、加快行動或驗證您的想法可能會令人沮喪。你不是一個人。經營一家初創公司很難！我們是來幫忙的。 </p>
        <a class="arrow-btn" href="">查看我們的企業家資源</a>
      </div>
      <div class="col-m-4">
        <p>查看我們的企業家資源</p>
        <p>
          <input type="text" placeholder="輸入你的電子郵件" style="width: 100%" />
        </p>
        <a href="#" class="btn blue block">訂閱</a>
      </div>
    </div>
  </div>
</section>
<section class="section-item section-dark">
  <div class="wrap">
    <div class="row">
      <div class="col-m-6">
        <h2>快速構思和驗證</h2>
        <p>設計衝刺幫助我們快速驗證我們正在為產品構建正確的功能集，這樣您就不會浪費時間和金錢。一個五個階段的過程，幫助我們解開和組織您作為主題專家的見解，提出解決問題的創新方法，並驗證產品假設。在設計衝刺結束時，我們有一個用於進行用戶訪談的原型。</p>
        <a class="arrow-btn" href="">瞭解相關案例</a>
      </div>
      <div class="col-m-6">

      </div>
    </div>
  </div>
</section>
<section class="section-item">
  <div class="wrap">
    <div class="row">
      <div class="col-m-6">
        <h2>向我們的設計團隊學習</h2>
        <p>在整個設計和原型製作過程中，使用我們的產品設計衝刺指南迴答您關鍵的早期業務問題。</p>
        <a class="arrow-btn" href="">運行你的設計衝刺</a>
      </div>
      <div class="col-m-6">

      </div>
    </div>
  </div>
</section>
<section class="section-item section-blue">
  <div class="wrap">
    <div class="row s">
      <div class="col-m-7 left center center-fixed">
        <h2>您認為成功的項目應該是怎麼樣的？</h2>
      </div>
      <div class="col-m-5 right to-center">
        <a href="" class="btn white">讓我們聊聊</a>
      </div>
    </div>
  </div>
</section>
